.Intro-col {
    margin: 10px auto;
    text-align: center;
}

.Intro-icon {
    min-height: 200px;
    max-width: 250px;
    margin: 20px auto;
    border-radius: 15%;
    border:6px solid #fff;
    box-shadow: 2px 2px 0 0 rgba(0,0,0,0.3);
    transition:all 1s ease;

}



.Intro-img {
    max-width: 30%;
    margin: 20px auto;
}
.Intro-icon:hover{
    border:6px solid #333;
    box-shadow: 0px 0px 20px 0 rgba(255,255,255,.5);
}
.Intro-icon .Intro-col:hover img{
    cursor: pointer;
}
